## python run.py -m SGCL -d ml-100k
## python run.py -m SGCL -d amazon-beauty
## python run.py -m SGCL -d amazon-toys-games
recbole
torch==2.5.0 --index-url https://download.pytorch.org/whl/cu124
numpy==1.26.0
torch_geometric